<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-resource-1.3.4.js"></script>
</head>
<body>
    
    <div id="app">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
          </div>
          <div class="panel-body form-inline">
    
            <label>
              Name:
              <input type="text" v-model="name" class="form-control">
            </label>
    
            <input type="button" value="添加" @click="add" class="btn btn-primary">
          </div>
        </div>
    
    
    
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Ctime</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in list" :key="item.id">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.ctime}}</td>
              <td>
                <a href="" @click.prevent="del(item.id)">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    

      <script>
        
          Vue.http.options.emulateJSON=true;
            //   全局根目录
          Vue.http.options.root='http://vue.lovegf.cn:8899/api/';

          new Vue({
              el:'#app',
              data:{
                  name:'',
                  list:[
                      
                  ]
              },
              methods:{
                findalllist(){
                    this.$http.get('getprodlist').then(res=>{
                        if(res.body.status===0){
                            this.list=res.body.message
                        }else{
                            alert("加载失败")
                        }
                    })
                },
                add(){                                       
                    this.$http.post('addproduct',{name:this.name}).then(res=>{
                        if(res.body.status===0){
                            this.findalllist()
                            this.name='';
                        }else{
                            alert("添加失败")
                        }
                    })
                },
                del(id){
                    this.$http.get('delproduct/'+id).then(res=>{
                        if(res.body.status===0){
                            this.findalllist()
                        }else{
                            alert("删除失败")
                        }
                    })
                }
              },
              created(){
                this.findalllist()
              }
          })
      </script>
</body>
</html>